// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

$primary : #D5BE9E;
$info : #F0F1E4;
$dark-brown : #4F290C;
$warning : #496041;

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
