*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

.header-custom {
    background-color: black;
    height: 70px;
    border: 2px;
    border-bottom: 2px solid #D5BE9E;
    height : 95px;
    justify-content: space-between;
    margin : 0;
    padding : 0px 60px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color : #D5BE9E;
    border-width: 1px;
    position: sticky;
    top: 0; /* Position sticky to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other content */
}

.navmenu-custom {
    display : flex;
    text-decoration : none;
    justify-content: center;
    align-items: center;
    margin : 0;
    gap : 60px;
}

.navmenu-custom{
    text-decoration: none;
    list-style-type: none;
}

.padding-search-custom{
    padding-right : 40px;
}
.search-custom-container {
    display : flex;
    width : 388px;
    height : 40px;
    padding: 10px 18px;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #D5BE9E;
    border-radius: 5px;
    justify-content: start;
    align-items: center;
}

.search-custom {
    width : 300px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #D5BE9E;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    transition: none;
    margin-left : 15px;
}

.search-custom::placeholder {
    color: #D5BE9E;
    opacity: 1; /* Firefox */
  }


.search-custom  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #D5BE9E;
  }

input {
    font-family: 'Poppins';
    border: none;
    outline: none;
}

img{
    vertical-align: middle;
}
