
.withsidebar{
    /* width : 100%; */
    display : flex;
    flex-direction: row;
    background-color: black;
}

.main-content{
    /* width : 100%;
    height : 100%; */
    background-color: black;
    /* padding-bottom: 66px; */
    /* margin-bottom: 0px; */
    /* margin-left: 10%; */
    margin: 52px 25px 0px 50px;
}

.sidebar{
    top : 120px;
    position : sticky;
    width : 302px;
    /* min-height : 100%; */
    height: 90vh;
    background: black;
    /* padding : 25px 0px; */
    font-family: 'Poppins';
    color : #F0F1E4;
    /* background-color: red; */
}

.sidebar:before {
    content: ""; /* Add an empty content to the pseudo-element */
    right: 0;
    position : absolute;
    top: 135px; 
    min-height: 55vh; /* Set the height of the pseudo-element to 150px */
    border-right: 1px solid rgba(213, 190, 158, 0.5);;
  }

  .sidebar-content{
    display : flex;
    flex-direction: column;
    gap : 20px;
  }

  .sidebar-back{
    display : flex;
    gap : 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    color: #F0F1E4;
    transition: all 0.3s ease-in-out;
  }

  .sidebar-back:hover{
    color : #D5BE9E;
  }

  .pp-picture{
    object-fit:cover;
    border-radius: 9999px;
    width: 65px;
    height: 65px;
    /* make a shadow */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  }

  .pp-picture:active{
    /* border will glow when clicked */
    box-shadow: 0px 0px 5px 0px #D5BE9E;
  }

  .profile{
    display: flex;
    gap : 9px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .sidebar-back p{
    /* font-weight: bold;
    color: #F0F1E4 !important; */
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 31px;
  }

  .sidebar-menu-container{
    display : flex;
    flex-direction: column;
    padding-left: 81px;
    color : #F0F1E4 !important;
    gap : 37px;
  }

  .sidebar-menu-container h2{
    font-family: 'Poppins';
    font-weight : 650;
    font-size: 23px;
    padding : 0;
    margin : 0;
  }

  .sidebar-menu-container a{
    font-size: 15px;
    font-weight: 450;
    color : #F0F1E4;
    padding-left: 19px;
  }

  .sidebar-menu{
    display : flex;
    flex-direction: column;
    gap : 8px;
  }

  .spacing-sidebarmenu{
    padding : 0;
    margin : 0;
    display: flex;
    flex-direction: column;
    gap : 10px;
    list-style-type: none;
    font-family: 'Poppins';
    font-size: 18px;
    text-decoration: none;
  }

  .spacing-sidebarmenu a, .spacing-sidebarmenu li {
    text-decoration: none;
  }

  .active-page, .active-page a {
    color : #D5BE9E !important;
  }
