@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

::-webkit-scrollbar
{
	width: 6px;
	background-color: black;
}

::-webkit-scrollbar-thumb
{
	background-color: #D5BE9E;
}
