.admin-menu{
    display: flex;
    gap : 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
    text-decoration: none;
}

.info-admin {
    width: 100%;
    height : 323.79px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 33px;
    align-items: center;
}

.admin-footer-menu{
    font-family: 'Poppins';
    display : flex;
    gap : 148px;
    list-style-type: none;
    color : #D5BE9E;
}

.admin-footer-menu a, .admin-footer-menu li{

    color : #D5BE9E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

body{
    color : #D5BE9E;
}

.footer-custom-container {
    height : 488px;
    background-color: rgb(0, 0, 0);
    padding  : 49px 90px 30px 90px;
    display : flex;
    flex-direction: column;
    gap : 34px;
}

.info {
    width: 100%;
    height : 323.79px;
    display : flex;
    justify-content: space-between;
    gap : 176px;
}

.copyrights{
    display : flex;
    flex-direction: column;
    font-size: 16px;
}

.tnc{
    font-family: 'Poppins';
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size : 12px;
}

.menus{
    display:flex;
    gap : 60px;
    width : 800px;
}

.admin{
    gap : 107px;
}

.menus p, .menus li {
    font-size: 18px;
    color: #D5BE9E;
    text-decoration: none;
    font-family: 'Poppins';
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.child {
    padding : 0;
    margin : 0;
    color : #D5BE9E;
    text-decoration: none;
    list-style-type: none;
    gap : 8px;
}

.child li{
    padding-bottom: 8px;
}

.social {
    flex: 1;
    display : flex;
    flex-direction : column;
}

.description p{
    flex: 1;
    text-align: justify;
}

.text{
    font-size : 12px;
    line-height: 20px;
}

.logo{
    display: flex;
    justify-content: flex-end;
    gap : 50px;
    margin-top: 45px;
}

.logo svg{
    width : 100%;
    height : auto;
}

hr {
    margin: 1rem 0;
    color: #D5BE9E;
    border: 0;
    border-color: #D5BE9E;
    border-top: 1px solid;
  }

  .ss-footer-menu a, .ss-footer-menu li{
    font-family: 'Poppins';
    color : #D5BE9E;
    list-style-type: none;
    font-size: 16px;
    text-decoration: none;
    font-weight : 500;
}

.ss-footer-menu {
    display : flex;
    gap : 148px;
}
