.carousel{
    width: 100%;
    height: 248px;
    background-color: black;
}

.kategori{
    width: 15%;
}

.collapse-btn{
    color: #F0F1E4;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.collapse > li {
    color: #F0F1E4;
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.kategori-pria, .kategori-wanita{
    margin: 10px 0;
}

.card-custom{
    border-radius: 0;
    color: #F0F1E4;
    width: 230px;
    height: 400px;
    margin: 0px;
    /* padding: 0;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-custom > i {
    position: relative;
    top: 240px;
    left: 190px;
}

.image-container{
    position: relative;
    display: inline-block; 
    width: 100%;
    
}

.card-custom-top{
    border-radius: 0;
    display: block;
    width: 100%;
}

.wishlist-form {
    position: absolute;
    bottom: 3px; /* Adjust as needed */
    right: 4px; /* Adjust as needed */
    z-index: 10; /* Ensure the form appears on top of the image */
    background: none; /* Ensure there's no background */
}


#wishlist-heart {
    position: absolute;
    bottom: 3px; /* Adjust as needed */
    right: 4px; /* Adjust as needed */
    background: none; /* Ensure there's no background */
    z-index: 10; /* Ensure the icon appears on top */
}

.card-custom-body {
    padding: 10px; /* Add padding if needed for text */
    margin: 0; /* Remove any extra margin */
    flex-grow: 1; /* Ensure it takes remaining space */
}

.card-custom > img {
    max-height: 245px;
}

.card-custom-body > p{
    margin-bottom: 10px;
}

.card-custom-body > h3{
    font-size: 18px;
}

select{
    width: 280px;
    height: 30px;
    background-color: #D5BE9E;
    border-radius: 0;
}

.collapsed-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: grey;
}

.collapsed-text > img{
    filter: brightness(0) invert(1);
    transition: all 0.25s linear;
}

.heart-color{
    color: red;
}

.content-catalog > a {
    padding: 0;
    text-decoration: none;
}

.content-catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 63px;
}


