body{
   background-color: #080808 !important;
}

.atas{
    padding: 25px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /* opacity: 0.5; */
}

.nonactive{
    opacity: 0.5;
    display: flex;
}

.active{
    opacity: 1 !important;
}

.atas h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 19px;
    margin-left: 22px;
    padding-top: 6px;
    padding: 15px;
}
.atas .back_icon{
    padding-right: 20px;
    margin-top: 17px;
    width: 30px;
}

.bottom{
    /* background-color: beige; */
    display: flex;
    width: 90%;
    height: 73vh;
    display: flex;
    margin: auto; /* Center horizontally */
}

.left{
    /* background-color: red; */
    width: 50%;
}

.left h2{
    font-family: Poppins;
    color: #F0F1E4;
    font-weight: 550;
    font-size: 23px;
}

.square {
    border: 2px solid #F0F1E4 !important;
    padding: 18px !important;
    margin: 7px 0px 25px 0px !important;
    cursor: pointer;
    width: 100%;
}

.dis{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.no-bootstrap {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.flex{
    display: flex;
    width: 100%;
}

.alamat .wrap {
    text-align: left;
}

.left h3{
    font-family: Poppins;
    color: #F0F1E4;
    font-weight: normal;
    font-size: 14px;
    font-weight: 500;
    /* padding: 0px; */
    margin-bottom: 3px;
}
.left p{
    font-family: Poppins;
    color: #F0F1E4;
    font-weight: normal;
    font-size: 13px;
    padding: 0px;
    margin-bottom: 0px;
}
.voucher p{
    font-size: 15px;
}

.wrap2{
    /* background-color: purple; */
    display: flex;
    align-self: center;

}
.back_icon{
    transform: scaleX(-1);
    height: 20px;
}

.pembayaran {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-top: 20px; */
    margin-top: 10px !important;
}

.pembayaran label{
    font-family: Poppins;
    color: #F0F1E4;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    padding-left: 2px;
}

/* .pembayaran input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #F0F1E4;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.pembayaran input[type="radio"]:checked::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #F0F1E4;
    position: absolute;
    top: 52%;
    left: 47%;
    transform: translate(-50%, -50%);
} */

.pembayaran input[type="radio"] {
    color: #f0f1e4 !important;
    background-color: #f0f1e4 !important;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type="radio"] {
    margin-right: 10px;
    display: flex;
    accent-color: #d5be9e;
}


.pembayaran .square{
    flex-direction: row;
    justify-content: start;
    padding: 20px;
}
.pembayaran {
    flex-direction: row;
    justify-content: start;
    /* padding: 20px; */
    margin-top: -10px;
}
.pembayaran p{
    font-weight: 500;
}

.product{
    background-color: #F0F1E4;
    height: 83px;
    /* width: 100%; */
    display: flex;
    padding: 15px;
    /* padding-left: 0px; */
    border-bottom: 1px solid rgba(73,96,65,0.1);
}

.product img{
    width: 50px;
    height : 50px;
    object-fit: cover;
}

.wraps{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 20px !important;
    padding-left: 15px !important;
    padding-top: 0px !important;
    /* background-color: #F0F1E4; */
}

.wraps h1{
    font-weight: 500;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    color: #4F290C;
    background-color: #F0F1E4;
    font-family: Poppins;
}

.wraps h2{
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    color: #4F290C;
    /* background-color: #F0F1E4; */
    font-family: Poppins;
}

.wraps p{
    font-weight: normal;
    font-size: 12px;
    /* margin-top: 2px;   */
    padding: 0px;
    color: #4F290C;
    background-color: #f0f1e4fb;
    font-family: Poppins;

}

.wraps2{
    /* background-color: pink; */
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: row;
    /* margin-right: -2%; */
}

.wraps2 button{
    all: unset;
    cursor: pointer;
}

.icon{
    height: 20px;
    margin-top: 2px;
}

.wraps2 p{
    color: black;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 13px;
}

.kiri::-webkit-scrollbar-track
{
	background-color: #F0F1E4;
}

.kiri::-webkit-scrollbar
{
	width: 5px;
	background-color: #F0F1E4;
}

.kiri::-webkit-scrollbar-thumb
{
	background-color: #D5BE9E;
}

.right{
    /* background-color: red; */
    width: 50%;
    margin-left: 5%;
}
.right h2{
    font-family: Poppins;
    color: #F0F1E4;
    font-weight: 550;
    font-size: 24px;
}
.right h3{
    font-family: Poppins;
    color: black;
    font-weight: 500;
    color: #4F290C;
    font-size: 18px;
}

.w1{
    background-color: #F0F1E4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
    /* padding-top: 10px; */
    padding-bottom: 0px;
    /* height: 20px; */
    margin-top: -1px;
}

.brdr{
    border-top: 0px solid rgba(73,96,65,0.3);
}

.w1 h2{
    font-family: Poppins;
    font-weight: 800;
    font-size: 23px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    color: #4F290C;
}
.w1 h3{
    font-size: 14px;
    margin-bottom: 0px;
    color: #4F290C;
}
.w1 p{
    color: #4F290C;
    font-size: 13px;
    margin-bottom: 1px;
}
.wrap3{
    display: flex;
    width: 100%;
    /* background-color: red; */
    justify-content: center;
}
.bayar{
    font-family: Poppins;
    font-weight: 700;
    color: #4F290C;
    font-size: 19px;
    border-radius: 52px;
    padding: 13px 40px 13px 40px;
    background-color: #D5BE9E;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-top: 16px;
}

.content{
    overflow-y: auto;
    max-height: 235px;
    margin-top: 13px;
}
.w2{
    background-color: #F0F1E4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 10px; */
    /* padding-bottom: 10px;    */
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin: 0px ;
    /* padding-bottom: -5px; */
}
.w2 p{
    /* color: black; */
    align-items: flex-end;
    font-family: Poppins;
    /* font-weight: 500; */
    font-size: 12px;
    /* padding-bottom: 2px; */
    margin: 0px ;
    margin-right: 14px;
    /* margin-bottom: 2px; */
    /* margin-top: 2px; */
    color: #4F290C;

}
.content::-webkit-scrollbar-track
{
	background-color: #F0F1E4;
}

.content::-webkit-scrollbar
{
	width: 5px;
	background-color: #F0F1E4;
}

.content::-webkit-scrollbar-thumb
{
	background-color: #D5BE9E;
}

/* -----------------------modal------------------------- */
btn{
    background-color: black;
}
.modal-header{
    margin-top: 7px;
}
.modal-content {
    background-color: #000;
    color: #F0F1E4;
    padding: 8px;
    /* padding-right: 12px; */
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}
.modal-body {
    background-color: black;
    color: #000;
    max-height: 57vh;
    overflow-y: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    /* padding:10px; */
    margin-top: 27px;
    /* padding-right: 0px; */
}
.modal-body::-webkit-scrollbar-track
{
	background-color: #000000;
}

.modal-body::-webkit-scrollbar
{
	width: 4px;
	background-color: #F0F1E4;
}

.modal-body::-webkit-scrollbar-thumb
{
	background-color: #D5BE9E;
}
.address-card {
    background-color: #F0F1E4;
    border: 1px solid #000;
    padding: 14px;
    margin-bottom: 10px;
    width: 100%;
}
.address-card h6{
    font-family: Poppins;
    color: black;
    font-weight: normal;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
    text-align: left;
    color: #4F290C;
}
.address-card p{
    font-family: Poppins;
    color: black;
    font-weight: normal;
    font-size: 11px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: #4F290C;
}
.btn-submit {
    background-color: #d2b48c;
    border: none;
    color: #000;
}
.modal-header{
    border-bottom: 0px solid #F0F1E4;
    font-family: Poppins;
    color: #F0F1E4;
    font-weight: 500;
    padding-bottom: 0px;
}
h5{
    font-size: 25px !important;
}
.modal-footer{
    border-top: 0px solid #dee2e6;
}
.x_icon{
    width: 17px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: -15px;
}
.n-bootstrap {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
.btn-submit-popup{
    font-family: Poppins;
    font-weight: 700;
    color: #4F290C;
    font-size: 14px;
    border-radius: 52px;
    padding: 6.5px 25px 6.5px 25px;
    background-color: #D5BE9E;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-top: 12px;
}

.btn-submit-popup a{
    color: #4F290C;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.btn-submit-popup a:hover{
    color : #4F290C;
}

.modal-footer{
    height: 11.5vh;
    /* padding: 20px; */
    margin-top: -5px;
}
.btn-add-popup{
    font-family: Poppins;
    font-weight: 700;
    color: #4F290C;
    font-size: 11px;
    border-radius: 52px;
    padding: 8px 16px 8px 16px;
    background-color: #D5BE9E;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-left: 14px;
    margin-bottom: -7px;
    display: inline-block;
}
.add_icon{
    width: 18px;
    margin-right: 2px;
    margin-left: -5px;
    /* margin-right: -15px; */
}

/*-----------------------modal voucher-----------------------*/
.voucher-card {
    background-color: #F0F1E4;
    border: 1px solid #000;
    padding: 14px;
    margin-bottom: 10px;
    width: 100%;
}
.voucher-card h6{
    font-family: Poppins;
    color: black;
    font-weight: normal;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 3px;
    text-align: left;
    color: #4F290C;
}
.voucher-card h9{
    font-family: Poppins;
    color: black;
    font-weight: normal;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
    /* text-align: left; */
    color: #4F290C;
}
.voucher-card p{
    font-family: Poppins;
    color: black;
    font-weight: normal;
    font-size: 11px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: #4F290C;
}
.voucher-card p:last-child{
    font-family: Poppins;
    color: black;
    font-weight: normal;
    font-size: 8px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
    color: #4F290C;
}
.selected {
    /* box-shadow: 2px 4px 10px rgb(251, 250, 250); */
    /* width: 20px; */
    background-color: #D5BE9E;
}
a{
    text-decoration: none;
}

.no-address{
    /* display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    color : white;
    text-align: left;
}
