.atas{
    padding: 0px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    flex-direction: row;
    align-content: center;
    /* justify-content: center; */
    /* opacity: 0.5; */
    margin-left: 48px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.atas h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 35px;
    /* margin-left: 22px; */
    /* padding-top: 6px;
    padding: 15px; */
}
.atas .back_icon{
    padding-right: 20px;
    width: 36px;
}

.arrow-back{
    filter: brightness(0) invert(1);
    transform: rotate(-90deg);
}

a{
    text-decoration: none;
    color: #F0F1E4;
}

body{
    color: #F0F1E4;
}

.rating-color{
    color:#D5BE9E !important;
}

.number > h1{
    font-size: 74px;
}

.progress-bar{
    background-color: #D5BE9E !important;
}

.star{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.star > p {
    margin: 0 5px;
}

.progress-bar, .progress{
    height: 10px;
}

hr{
    border: 0;
    border-left: 2px solid #F0F1E4!important;
    margin: 0 50px;
    opacity: 1;
}

.sort-by > button{
    margin: 0 15px;
}

.sort-by > button:hover{
    background-color: rgb(73, 51, 25);
    border: 1px solid rgb(73, 51, 25);
    color: #F0F1E4;
}

.button:hover{
    background-color: rgb(73, 51, 25) !important;
    border: 1px solid rgb(73, 51, 25) !important;
    color: #F0F1E4;
}

.content-review{
    max-height: 450px;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-review::-webkit-scrollbar{
    display: none;
}

.wrap-review{
    max-height: 650px;
    height: 100%;
    position: absolute;
    max-width: 1280px;
    width: 100%;
    padding-bottom: 50px;
    gap: 50px;
}

.review{
    padding: 10px 10px;
    margin: 10px 0;
    border-bottom: 1px solid#F0F1E4;
    color: #F0F1E4;
}

.number{
    /* padding-right: 40px; */
}

.carousel-item > img{
    max-height: 425px;
    object-fit: cover;
}

.image-content{
    width: 40%;
}

.detail-image > img{
    margin-top: 15px;
    cursor: pointer;
}

.detail-content{
    margin-left: 100px;
    width: 75%;
}

.left-content > h1{
    margin: 0;
    padding: 0;
}

.star-products > p{
    margin: 0;
}

.detail-content-body > p:first-child{
    margin: 5px 0;
}

.detail-review{
    text-align: justify;
    max-height: 250px;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.detail-review::-webkit-scrollbar{
    display: none;
}

.heart{
    cursor: pointer;
}

.heart-color{
    color: red;
}

.body-review{
    text-align: justify;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234E242D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234E242D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.category-review-color {
    background-color: #D5BE9E !important;
    border: 1px solid #D5BE9E !important;
    color: rgb(73, 51, 25);
}

.btn-sizes > button {
    width: 40px;
    font-weight: bold;
    margin-right: 5px;
}

.minus {
    position: relative;
    color: black;
    left: -115px;
    cursor: pointer;
}

.plus {
    position: relative;
    color: black;
    right: 50px;
    cursor: pointer;
}

.btn-qty > input {
    width: 130px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5em;
    font-weight: bold;
}

.btn-cart {
    width: 73%;
    padding: 10px 0;
    border-radius: 5em;
    font-weight: bold;
    background-color: #D5BE9E !important;
    color: rgb(73, 51, 25)!important;
}

.btn-size.active {
    background-color: #D5BE9E;
}

.btn-light{
    background-color: #F0F1E4;
    color: rgb(73, 51, 25);
}

.quantity > p {
    margin: 0 0 5px 0;
}

.btn-clicked{
    color:rgb(73, 51, 25) !important;
    background-color: #D5BE9E!important;
}

.back-wrapper{
    position: relative;
    top: 40px;
    width: 40px;
}

.back{
    width: 40px;
}