body{
    font-family: 'Poppins';
}

.carousel-product-link{
    text-decoration: none;
    font-weight: bold !important;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-wrapper{
    width: 900px;
    height: 620px;
    margin: 50px;
    margin-right: 0px;
    margin-left: 60px;
}

.carousel-item{
    width: 900px;
    height: 620px;
    overflow: hidden;
    position: relative;
}

.carousel-item img {
    width: 900px;
    height: 620px;
    object-fit: cover;
    object-position: center;
}

.belanja-sekarang-button{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.belanja-sekarang-button h2{
    margin: 0px 0px 2px;
}

.belanja-sekarang{
    width: 100%;
    height: 2px;
    background-color: #8C8686;
}

.carousel-product-link {
    position: absolute;
    bottom: 23%;
    left: 7%;
}

.carousel-product-link h2{
    color: #F0F1E4;
    font-size: large;
    font-weight: 700;
    letter-spacing: 2px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.men-women-content{
    height: 285px;
    width: 360px;
    overflow: hidden;
    position: relative;
    margin: 50px;
    margin-right: 60px;
}

.men-women-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#men {
    margin-bottom: 25px;
}

#women {
    margin-top: 25px;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.recommendation-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.recommendation{
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Poppins;
    color: #F0F1E4;
    position: relative;
}

.recommendation-button{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.recommendation p{
    font-family: Poppins;
    font-weight: bold !important;
    margin: 0px 0px 2px;
}

.active-recommendation{
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #D5BE9E;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recommendation.active {
    color: #D5BE9E; /* Warna font untuk tab aktif */
}

.card-custom{
    border-radius: 0;
    color: #F0F1E4;
    width: 230px;
    height: 400px;
    margin: 0px;
    /* padding: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-custom-body p{
    display: block;
    width: 165px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#mix-and-match{
    position: relative;
    height: 350px;
    width: 100%;
}

#mix-and-match img {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    z-index: -1;
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

#mix-and-match h1 {
    text-align: center;
    width: 50%;
    color: #F0F1E4;
    position: relative;
    top: 45%;
    left: 25%;
    right: 25%;
    transform: translateY(-55%);
    font-weight: 700;
}

.buttons {
    text-align: center;
    text-decoration: none;
    font-weight: bold !important;
    background-color: #D5BE9E;
    color: #4F290C;
    border-radius: 90px;
    padding: 10px;
    font-size: larger !important;
}

a .buttons:hover {
    text-decoration: none;
}

#button-mix-and-match-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

#button-mix-and-match-wrapper a{
    text-decoration: none;
}

#button-mix-and-match {
    width: 300px;
}

#belanja-sekarang-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0px;
    gap : 50px;
}

#belanja-sekarang-banner h1{
    text-align: center;
    color: #F0F1E4;
    font-weight: 900;
}

#belanja-sekarang-banner h2{
    text-align: center;
    color: #F0F1E4;
    font-weight: 500;
}

#button-belanja-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-belanja-wrapper a{
    text-decoration: none;
}

#button-belanja {
    width: 200px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
}

.poster-container{
    display : flex;
    gap : 50px;
}

.featured{
    width : 349.82px;
    height : 500px;
    border : 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.featured:hover{
    /* give shadow */
    border : 1px solid #F0F1E4;
    box-shadow: 0px 0px 30px #D5BE9E;
}
