body {
    background-color: #d5be9e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px;
    width: 1500px;
    /* margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px; */
}

.top h1{
    font-size: 40px;
    font-weight: 600;
    font-family: Poppins;
    margin-bottom: 0px;
}
.top p{
    font-size: 15px;
    font-weight: 400;
    font-family: Poppins;
}
.content-container {
    background-color: black;
    /* padding: 50px; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1278px;
    height: 874px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: Poppins;
    color: #f0f1e4;
}

.wrap-right {
    width: 50%;
}

.wrap-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="email"],
input[type="password"] {
    font-family: Poppins;
    display: flex;
    background: transparent;
    text-decoration: none;
    color: #f0f1e4;
    border: none;
    border-bottom: 2px solid #f0f1e4;
    width: 500px;
    background-clip: padding-box;
    appearance: none;
    outline: none;
}

.wrap{
    height: 80px;
    margin-top: 10px;
}

.wrap-right label {
    font-family: Poppins;
    font-weight: 600;
    color: #f0f1e4;
    font-size: 17px;
}

.gender-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.gender-container label {
    margin-right: 1rem;
}

input[type="radio"] {
    margin-right: 10px;
    display: flex;
}

button[type="submit"] {
    background-color: #d5be9e;
    color: #4f290c;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 500px;
    height: 40px;
    font-family: Poppins;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #f0f1e4;
}

button[type="reset"] {
    text-decoration: underline;
    margin-left: 1rem;
}

button[type="reset"]:hover {
    text-decoration: none;
}

textarea {
    min-height: 10rem;
}

input::placeholder,
textarea::placeholder {
    color: #f0f1e4;
    opacity: 1;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom p {
    display: block;
    text-align: center;
    margin-top: 200px;
}

a {
    color: #d5be9e;
}

.error-message {
    padding: 0px;
    margin: 0px;
    color: #b95244;
    margin-bottom: 10px;
    padding-top: 0px;
    margin-top: -2px;
    height: 10px ;
}