a{
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-title {
    width: 90%;
    padding: 100px 20px 10px 20px;
}

.title-wrapper {
    width: fit-content;
    margin: 110px 25px 0px 25px;
}

.title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: fit-content;
}

.title img {
    width: 16.43px;
    height: 30.2px;
    object-fit: cover;
}

.title h1{
    font-size: 36px;
    font-weight: 700;
    color: #D5BE9E;
    margin: 5px 20px;
}

.title h1:hover{
    color: #D5BE9E;
}

.order-detail {
    background-color: #F0F1E4;
    width: 65vw;
    margin: 20vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 105px;
}

.status-img {

}
