a{
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-title {
    width: 90%;
    padding: 60px 60px 10px 20px;
}

.title-wrapper {
    width: fit-content;
    margin-left: 25px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.title img {
    width: 23px;
    height: 42px;
    object-fit: cover;
}

.title h1{
    font-size: 36px;
    font-weight: 500;
    color: #F0F1E4;
    margin: 20px;
}

.title h1:hover{
    color: #D5BE9E;
}

.title-div {
    margin-left: 6%;
}

.title-div h2{
    color: #F0F1E4;
    font-weight: 500;
    margin: 3px;
}

.products {
    background-color:#F0F1E4;
    width: 88%;
    height: 78.5vh;
    margin: 15px 6% 15px 6%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.products::-webkit-scrollbar-track
{
	background-color: #F0F1E4;
}

.products::-webkit-scrollbar
{
	width: 5px;
	background-color: #F0F1E4;
}

.products::-webkit-scrollbar-thumb
{
	background-color: #D5BE9E;
}

.product {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    border-bottom: #4F290C solid thin;
}

.product-img {
    width: 120px;
    height: 120px;
    border: #4F290C solid thin;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-name, .product-size, .product-price {
    margin: 0;
    letter-spacing: 1px;
    color: #4F290C;
}

.product-size {
    font-weight: 500;
}

.product-qty {
    text-align: right;
    font-weight: 500;
    margin: 12px;
    letter-spacing: 1px;
    color: #4F290C;
}

.product-price {
    text-align: right;
}

.reason {
    width: 88%;
    margin: 15px 6% 15px 6%;
}

.text-area-wrapper{
    background-color: #F0F1E4;
    border: #D5BE9E solid;
}

textarea{
    resize: none;
    border: none;
    height: 200px;
    width: 97%;
    background-color: #F0F1E4;
    color: #4F290C;
    padding: 20px;
    font-family: Poppins;
    font-size: medium;
    letter-spacing: 1px;
}

textarea:focus {
    outline: none;
    box-shadow: none;
  }

textarea::placeholder{
    color: #4F290C;
    font-family: Poppins;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
}

.refund {
    width: 35%;
    border: #4F290C solid thin;
    margin: 15px 6% 15px 6%;
    padding: 0px 30px 0px 30px;
    background-color: #F0F1E4;
}

.refund-detail {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: #4F290C solid thin;
}

.refund-detail p {
    width: 50%;
}

.refund-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.refund-details h3 {
    width: 50%;
}

.fund {
    text-align: left;
    color: #4F290C;
    letter-spacing: 1px;
}

.fund-value {
    text-align: right;
    color: #4F290C;
    letter-spacing: 1px;
}

.submit{
    width: 95%;
    padding: 10px;
}

.submit-btn-wrapper {
    margin-left: 1270px
}

.submit-btn {
    background-color: #D5BE9E;
    border: none;
    color: #4F290C;
    width: 150px;
    text-align: center;
    border-radius: 60px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: larger;
}
