body{
    background-color: black;
}

a{
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-title {
    padding: 0px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    flex-direction: row;
    align-content: center;
    /* justify-content: center; */
    /* opacity: 0.5; */
    margin-left: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: fit-content; */
}

.title img {
    padding-right: 20px;
    width: 36px;
}

.title h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 31px;
}


.title h1:hover{
    color: #D5BE9E;
}

.title-div {
    margin-left: 6%;
}

.title-div h2{
    color: #F0F1E4;
    font-weight: 500;
    margin: 3px;
    font-size: 18px;
}

.products {
    background-color:#F0F1E4;
    width: 88%;
    height: 450px;
    margin: 15px 6% 15px 6%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.products::-webkit-scrollbar-track
{
	background-color: #F0F1E4;
}

.products::-webkit-scrollbar
{
	width: 5px;
	background-color: #F0F1E4;
}

.products::-webkit-scrollbar-thumb
{
	background-color: #D5BE9E;
}

.product {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    border-bottom: #4F290C solid thin;
}

.product-img {
    width: 90px;
    height: 90px;
    border: #4F290C solid thin;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}

.product-name, .product-size, .product-price {
    margin: 0;
    letter-spacing: 1px;
    color: #4F290C;
}

.right{
    align-self: flex-end;
}

.product-size {
    font-weight: 500;
}

.product-qty {
    text-align: right;
    font-weight: 500;
    margin: 0px;
    letter-spacing: 1px;
    color: #4F290C;
}

.product-price {
    text-align: right;
}

.reason {
    width: 88%;
    margin: 15px 6% 15px 6%;
}

.text-area-wrapper{
    background-color: #F0F1E4;
    border: #D5BE9E solid;
}

textarea{
    resize: none;
    border: none;
    height: 300px;
    width: 97%;
    background-color: #F0F1E4;
    color: #4F290C;
    padding: 20px;
    font-family: Poppins;
    font-size: medium;
    letter-spacing: 1px;
}

textarea:focus {
    outline: none;
    box-shadow: none;
  }

textarea::placeholder{
    color: #4F290C;
    font-family: Poppins;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.5;
}

.refund {
    width: 38%;
    border: #4F290C solid thin;
    margin: 15px 6% 15px 6%;
    padding: 0px 30px 0px 30px;
    background-color: #F0F1E4;
}

.refund-detail {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: #4F290C solid thin;
}


.refund-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fund {
    text-align: left;
    color: #4F290C;
    letter-spacing: 1px;
    width: 60%;
}

.fund-value {
    text-align: right;
    color: #4F290C;
    letter-spacing: 1px;
    width: 40%;
}

.submit{
    width: 95%;
    padding: 10px;
}

.submit-btn-wrapper {
    margin-left: 1110px
}

.submit-btn {
    background-color: #D5BE9E;
    border: none;
    color: #4F290C;
    width: 150px;
    text-align: center;
    border-radius: 60px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: larger;
    margin-top: 20px;
    margin-left: 90px;
}
