body{
    background-color: black;
}

a{
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-title {
    padding: 0px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    flex-direction: row;
    align-content: center;
    /* justify-content: center; */
    /* opacity: 0.5; */
    margin-left: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: fit-content; */
}

.title img {
    padding-right: 20px;
    width: 36px;
}

.title h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 31px;
}

.title h1:hover{
    color: #D5BE9E;
}

.product-detail{
    display: flex;
    flex-direction: row;
    width: 88%;
    margin: 15px 6% 15px 6%;
    gap: 40px;
}

.img-wrapper{
    width: 150px;
    height: 150px;
    border: #4F290C solid thin;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.details-and-stars h3{
    margin: 0;
    color: #F0F1E4;
    letter-spacing: 2px;
}

.product-size {
    font-weight: 100;
}

.rating div {
    color: #D5BE9E;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 22px 0;
    transition: all 0.5s;
}

.rating input {
    display: none;
}

.rating input+label {
    font-size: 36px;
    cursor: pointer;
    transition: all 0.5s;
}

.rating input:checked+label~label {
    color: #4F290C;
}

.rating label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.star-icon .off {
    cursor: auto;
}

.review {
    width: 88%;
    margin: 15px 6% 15px 6%;
}

.text-area-wrapper{
    background-color: #F0F1E4;
    border: #D5BE9E solid;
}

textarea{
    resize: none;
    border: none;
    height: 290px;
    width: 97%;
    background-color: #F0F1E4;
    color: #4F290C;
    padding: 20px;
    font-family: Poppins;
    font-size: medium;
    letter-spacing: 1px;
}

textarea:focus {
    outline: none;
    box-shadow: none;
  }

textarea::placeholder{
    color: #4F290C;
    font-family: Poppins;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.5;
}

.submit{
    width: 95%;
    padding: 10px;
}

.submit-btn-wrapper {
    margin-left: 1270px
}

.submit-btn {
    background-color: #D5BE9E;
    border: none;
    color: #4F290C;
    width: 150px;
    text-align: center;
    border-radius: 60px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: larger;
}
