.atas{
    padding: 0px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    flex-direction: row;
    align-content: center;
    /* justify-content: center; */
    /* opacity: 0.5; */
    margin-left: 48px;
    margin-top: 40px;
    margin-bottom: -20px;
}

.atas h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 35px;
    /* margin-left: 22px; */
    /* padding-top: 6px;
    padding: 15px; */
}
.atas .back_icon{
    padding-right: 20px;
    width: 36px;
    margin-bottom: 8px;
}

.arrow-back{
    filter: brightness(0) invert(1);
    transform: rotate(-90deg);
}

a{
    text-decoration: none;
    color: #F0F1E4;
}

.card-custom{
    border-radius: 0;
    color: #F0F1E4;
    width: 230px;
    height: 400px;
    margin: 10px 15px;
    z-index: 1;
    display: flex;
}

.productName{
    display: block;
  width: 165px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sold-out{
    opacity: 0.4;
}

.card-content > h1 {
    position: relative;
    top: -270px;
    left: 40px;
    height: 0;
    z-index: 1;
    color: #F0F1E4;
    font-weight: bold;
    font-size: 32px;
}

.card-custom > img {
    max-height: 245px;
}

.card-custom > i {
    position: relative;
    top: 240px;
    left: 190px;
}

.card-custom-top{
    border-radius: 0;
    display: block;
    width: 100%;
}

.card-custom-body {
    padding: 10px; /* Add padding if needed for text */
    margin: 0; /* Remove any extra margin */
    flex-grow: 1; /* Ensure it takes remaining space */
}
.card-custom-body > p{
    margin-bottom: 10px;
}

.card-custom-body > h3{
    font-size: 18px;
}

.heart-color{
    color: red;
}

.image-container{
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-container img {
    width : 230px;
    height : 275px;
    object-fit: cover;
}

.wishlist-form {
    position: absolute; /* Add this */
    bottom: 65px; /* Adjust as needed */
    right: 4px; /* Adjust as needed */
    z-index: 1; /* Add this */
}

.wishlist-form button {
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

#wishlist-heart {
    position: absolute;
    bottom: 65px; /* Adjust as needed */
    right: 4px; /* Adjust as needed */
    background: none; /* Ensure there's no background */
    z-index: 10; /* Ensure the icon appears on top */
}