body{
    background-color: black;
    font-family: Poppins;
}

a{
    text-decoration: none;
}

.page-title {
    padding: 0px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    flex-direction: row;
    align-content: center;
    /* justify-content: center; */
    /* opacity: 0.5; */
    margin-left: 49px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: fit-content; */
}

.title img {
    padding-right: 20px;
    width: 36px;
}

.title h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 35px;
    text-decoration: none;
}

.editor {
    display: flex;
    flex-direction: column;
}

.editor-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.image img {
    width: 900px;
    height: 620px;
    object-fit: cover;
}

.btn-wrapper {
    margin: 50px;
}

.btn-wrapper a{
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #4F290C;
    background-color: #D5BE9E;
    padding: 5px 25px;
    border-radius: 20px;
}
