body{
    background-color: black;
}

.header_title{
    /* padding: 0px !important;
    display: flex !important;
    flex-direction: row;
    align-content: center;
    margin-left: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
    cursor: pointer; */
    position : relative;
    display : flex;
    align-items: center;
    font-size: 40px;
    color: #F0F1E4;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-top : 2.8%;
    margin-left : 48px;
    margin-bottom : 20px;
}

.header_title h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 35px;
    margin : 0;
    text-decoration: none;

}

.header_title .back_icon{
    padding-right: 20px;
    width: 36px;
}

label{
    font-family: Poppins;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5px;
    color: #F0F1E4;
    font-size: 16px;
    font-weight: 500;
}

.underline-input-full {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 5px;
    width: 80%;
    /* box-sizing: border-box; */
    margin: 0 auto;
    display: block;
    /* margin-bottom: 20px; */
    font-family: Poppins;
    font-size: 16px;
    /* display : flex; */
    background-color: transparent;
    /* text-decoration: none; */
    color : #F0F1E4;
    border-bottom : 2px solid #F0F1E4;
    /* width : 441.5px; */
    justify-content: space-between;
    outline: none;
  }

  select{
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    display: block;
    font-family: Poppins;
    background-color: #F0F1E4;
    font-size: 16px;
  }

  .small-text {
    color: #F0F1E4;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 16px;
  }

  label[for="product-image"] {
    margin-bottom: 50px;
  }

  .product-image-section {
    display: flex;
    gap: 300px;
    align-items:flex-start;
}

.product-image {
    width: 20%;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 150px;
    /* margin-top: 20px; */
}

.image-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-buttons button {
    padding: 15px 20px;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    font-family: Poppins;
    font-size: 16px;;
}

button[type="submit"] {
    padding: 15px 40px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 16px;
    background-color:#D5BE9E;
    color: black;
    border: 2px solid black;
}

.image-buttons .upload {
    background-color: black;
    color: #F0F1E4;
    border: 2px solid #F0F1E4;
}
.image-buttons .delete {
    background-color:#D5BE9E;
    color: black;
    border: 2px solid black;
}

.save-button {
    /* margin-left: auto; */
    display: flex;
    justify-content: flex-end;
    /* margin-top: 300px; */
    margin-right : 150px;
    cursor : pointer;
}.sbmt-btn{
    display: flex;
    justify-self: end;
    background-color:#496041;
    color : white;
}

.margin-cs{
    margin : 40px 150px;
    font-size : 20px;
}

.no-text-decoration{
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dcs:hover{
    background-color: red;
}

input[type="file"]::file-selector-button{
    background-color: #F0F1E4;
    border: #D5BE9E;
}

.error-message{
    font-family: Poppins;
    color: red;
    font-size: 16px;
    font-weight: 500;
    height: 26px;
    margin-left: 154px;
    margin-bottom: 20px;
}

.picture-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 57px;
    margin: 20px 150px;
}

.picture-wrapper img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
