body{
    background-color: black;
}

.header_title{
    padding: 0px !important;
    display: flex !important;
    flex-direction: row;
    align-content: center;
    margin-left: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}

.header_title h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 35px;
}

.header_title .back_icon{
    padding-right: 20px;
    width: 36px;
}

label{
    font-family: Poppins;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5px;
    color: #F0F1E4;
    font-size: 20px;
    font-weight: 500;
}

.underline-input-full {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    /* box-sizing: border-box; */
    margin: 0 auto;
    display: block;
    /* margin-bottom: 20px; */
    font-family: Poppins;
    font-size: 20px;
    /* display : flex; */
    background-color: transparent;
    /* text-decoration: none; */
    color : #F0F1E4;
    border-bottom : 2px solid #F0F1E4;
    /* width : 441.5px; */
    justify-content: space-between;
    outline: none;
  }

  select{
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    display: block;
    font-family: Poppins;
    background-color: #F0F1E4;
    font-size: 20px;
  }
  
  .small-text {
    font-size: 12px;
    color: #F0F1E4;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 16px;
  }

  label[for="product-image"] {
    margin-bottom: 50px;
  }

  .product-image-section {
    display: flex;
    gap: 300px;
    align-items:flex-start;
}

.product-image {
    width: 20%;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 220px;
    /* margin-top: 20px; */
}

.image-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-buttons button {
    padding: 15px 40px;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 20px;;
    /* margin-left: 300px; */
}

button[type="submit"] {
    padding: 15px 40px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 20px;
    background-color:#D5BE9E;
    color: black;
    border: 2px solid black; 

}

.image-buttons .upload {
    background-color: black; 
    color: #F0F1E4;  
    border: 2px solid #F0F1E4;  
}
.image-buttons .delete {
    background-color:#D5BE9E;
    color: black;
    border: 2px solid black; 
}

.save-button {
    /* margin-left: auto; */
    display: flex;
    justify-content: flex-end;
    margin-top: 300px;
}
