body{
    background-color: #080808 !important;
    font-family: 'Poppins';
 }


 .main-content{
    width: auto;
    height : auto;
    background-color: black;
    padding : 50px 80px 50px 80px;
  }

  .upper-section{
    display: flex;
    justify-content: space-between;
    margin-bottom : 30px;
  }

  .add-btn{
    height : 40px;
    background-color: #496041;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border : 0;
    gap : 15px;
    padding : 14px 14px;
    color : white;
    font-weight: 600;
    font-size: 14px;
  }

  .add-img{
    height : 19px;
    width : 19px;
  }

  .ctg-btn{
    height : 40px;
    background-color: #D5BE9E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border : 0;
    gap : 15px;
    padding : 14px 14px;
    color : #4F290C;
    font-weight: 700;
    font-size : 14px;
  }

  .inner-container{
    display : flex;
    flex-direction: column;
    gap : 42px;
    width : 100%;
  }

  .ai-header{
    display : flex;
    gap : 20px;
    align-items: center;
    justify-content: space-between;
  }

  .ai-title{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    color : #D5BE9E;
  }

  .ai-search-custom-container {
    display : flex;
    width : 1150px;
    height : 40px;
    padding: 10px 18px;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #F0F1E4;
    border-radius: 5px;
    justify-content: start;
    align-items: center;
}


.ai-search-custom {
    width : 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #F0F1E4;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    transition: none;
    margin-left : 15px;
    outline : none;
    font-family: 'Poppins';
}

.ai-search-custom:focus{
    border : none;
    outline : none;
}

.ai-search-custom::placeholder {
    color: #F0F1E4;
    opacity: 1; /* Firefox */
    border : none;
  }


.ai-search-custom  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #F0F1E4;
    border : none;
  }

.ai-content{
    display : flex;
    flex-direction: column;
    gap : 20px;
}

.status-menu{
    display: flex;
    justify-content: space-between;

    color : #F0F1E4;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    list-style-type: none;
    text-decoration: none;
    padding : 0;
    margin : 0;
}

.status-menu a:active, .status-menu a::after {
    border-bottom: 2px solid #D5BE9E;
}

.status-menu a:hover, .status-menu li:hover{
    color : #D5BE9E;
}

.ai-menu-link{
    gap : 103px;
    font-size: 17px;
    font-weight : 600;
    display: flex;
    justify-content: center;
    width : 420px;
    text-align: center;
    color : #F0F1E4;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    list-style-type: none;
    text-decoration: none;
    padding : 0;
    margin : 0;
}

.active-menus{
    color : #D5BE9E !important;
    border-bottom: 2px solid #D5BE9E;
}

.ai-order{
    background-color: #F0F1E4;
    display : flex;
    flex-direction: column;
    color : #4F290C;
    padding : 10px 45px 30px 45px;
}

.ai-status-order{
    display : flex;
    height : 66px;
    justify-content: space-between;
    align-items: center;
    padding : 0px 36px;
    border-bottom: 2px solid rgb(79, 41, 12, 0.2);
}

.ai-status-order h3{
    font-family: 'Poppins';
    font-size : 22px;
    color : #4F290C;
    font-weight : bold;
}

.ai-info{
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 8px;
}


.menunggu-konfirmasi{
    height : 36px;
    font-family: 'Poppins';
    font-size : 12px;
    padding : 5px 17px;
    border-radius: 20px;
    background-color: #496041;
    color : #F0F1E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-order-detail{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 38px;
    border-bottom: 2px solid rgb(79, 41, 12, 0.2);
}

.ai-picture{
    display : flex;
    gap : 20px;
}

.ai-picture-text{
    display : block;
    align-items: center;
    justify-content: flex-start;
}

.ai-picture-text h2, .ai-picture-text p{
    margin : 0;
}

.ai-picture-text h2{
    font-size: 18px;
}


.ai-picture-text p{
    font-size: 15px;
    color : #4F290C;
}

.ai-picture img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border : 1px solid #4F290C;
}

.ai-total{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.ai-total p{
    color : #4F290C;
    font-weight : 600;
}

.ai-total-order{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color : #4F290C;
    gap : 12px;
    padding : 18px 41px;
}

.ai-total-order p{
    color : #4F290C;
    margin : 0;
    font-size : 18px;
    font-weight: 600;
}

.ai-total-order h3{
    font-family: 'Poppins';
    color : #4F290C;
    margin : 0;
    font-size : 20px;
    font-weight : 700;
}

.back-btn{
    position : relative;
    display : flex;
    gap : 19px;
    cursor: pointer;
    font-size: 40px;
    color: #F0F1E4;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    left : -45px;
}

.back-btn:hover{
    color : #D5BE9E;
    text-decoration: none;
  }


  .back-btn p{
    font-weight: bold;
    color: #F0F1E4 !important;
    text-decoration: none;
    margin : 0;
  }

.table-cell{
    border-bottom: 2px #4F290C solid;
    height : 60px;
    font-size : 21px;
}

thead{
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

table , th{
    border-collapse: collapse;
}

td{
    font-size: 14px;
    padding : 20px 0px;
    max-width: 150px;
    font-weight: 200;
    word-wrap: break-word;
    border-bottom: 2px #4f290c31 solid;
}


tr {
    text-align: center;
}


.box-1, .box-2, .box-3{
    width: 275px;
    border-bottom: 5px solid rgb(59, 48, 33);
    color: white;
    padding: 20px 30px;
}


.box-left > p {
    margin: 0;
}

.count {
     font-weight: bold;
     font-size: 24px;
}

.pickup-img {
    background-color: white;
    border-radius: 5em;
    padding: 5px;
    width: 50px;
}

.delivery-img {
    background-color: white;
    border-radius: 5em;
    padding: 10px 5px;
    width: 50px;
}

.done-img {
    background-color: white;
    border-radius: 5em;
    padding: 15px 10px;
    width: 50px;
}

#sortBy {
    padding: 0 10px;
    font-size: 14px;
}

.action-btn-container{
    display: flex;
    gap : 50px;
    justify-content: center;
}

.action-btn{
    width : 30px;
    height : 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5BE9E;
    border : 0;
    margin : 0;
    padding : 10px;
    border-radius: 5px;
}
