body{
    background-color: #080808 !important;
    font-family: 'Poppins';
 }
.atas{
    padding: 0px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    /* flex-direction: row; */
    /* align-content: center; */
    /* justify-content: space-between; */
    /* opacity: 0.5; */
    margin-left: 48px;
    margin-top: 2.8%;
    margin-bottom: 0px;
    width: 93%;
    /* background-color: pink; */
}

.atas h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 35px;
    /* margin-left: 22px; */
    /* padding-top: 6px;
    padding: 15px; */
}

a{
    text-decoration: none;
    color: #F0F1E4;
}

a:hover{
    text-decoration: none;
}

.atas{
    padding-right: 20px;
    /* margin-top: 17px; */
    width: 36px;
    margin-bottom: 5px;
}

 .main-content{
    width: auto;
    height : auto;
    background-color: black;
    padding : 20px 80px 50px 80px;
  }

  .upper-section{
    display: flex;
    justify-content: space-between;
    margin-bottom : 30px;
  }

  .add-btn{
    height : 40px;
    background-color: #496041;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border : 0;
    gap : 15px;
    padding : 14px 14px;
    color : white;
    font-weight: 600;
    font-size: 14px;
    /* justify-self: flex-end ; */
    /* margin-left: 75%; */
    cursor : pointer;
  }

  .add-btn:hover{
    color : white;
  }


  .add-img{
    height : 19px;
    width : 19px;
  }

  .ctg-btn{
    width : 180px;
    height : 40px;
    background-color: #D5BE9E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border : 0;
    gap : 15px;
    padding : 14px 14px;
    color : #4F290C;
    font-weight: 700;
    font-size : 14px;
    cursor : pointer;
  }

  .inner-container{
    display : flex;
    flex-direction: column;
    gap : 42px;
    width : 100%;
  }

  .ai-header{
    display : flex;
    flex-direction: row;
    width : 100%;
    gap : 20px;
    align-items: center;
    /* justify-content: space-between; */
  }

  .ai-title{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    color : #D5BE9E;
  }

  .ai-search-custom-container {
    display : flex;
    width : 1150px;
    height : 40px;
    padding: 10px 18px;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #F0F1E4;
    border-radius: 5px;
    justify-content: start;
    align-items: center;
}


.ai-search-custom {
    width : 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #F0F1E4;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    transition: none;
    margin-left : 15px;
    outline : none;
    font-family: 'Poppins';
}

.ai-search-custom:focus{
    border : none;
    outline : none;
}

.ai-search-custom::placeholder {
    color: #F0F1E4;
    opacity: 1; /* Firefox */
    border : none;
  }


.ai-search-custom  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #F0F1E4;
    border : none;
  }

.ai-content{
    display : flex;
    flex-direction: column;
    gap : 20px;
}

.status-menu{
    display: flex;
    justify-content: space-between;

    color : #F0F1E4;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    list-style-type: none;
    text-decoration: none;
    padding : 0;
    margin : 0;
}

.status-menu a:active, .status-menu a::after {
    border-bottom: 2px solid #D5BE9E;
}

.status-menu a:hover, .status-menu li:hover{
    color : #D5BE9E;
}

.ai-menu-link{
    gap : 103px;
    font-size: 17px;
    font-weight : 600;
    display: flex;
    justify-content: center;
    width : 420px;
    text-align: center;
    color : #F0F1E4;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    list-style-type: none;
    text-decoration: none;
    padding : 0;
    margin : 0;
}

.active-menus{
    color : #D5BE9E !important;
    border-bottom: 2px solid #D5BE9E;
}

.ai-order{
    background-color: #F0F1E4;
    display : flex;
    flex-direction: column;
    color : #4F290C;
    padding : 10px 25px 30px 25px;
    border-radius: 5px;
}

.ai-status-order{
    display : flex;
    height : 66px;
    justify-content: space-between;
    align-items: center;
    padding : 0px 36px;
    border-bottom: 2px solid rgb(79, 41, 12, 0.2);
}

.ai-status-order h3{
    font-family: 'Poppins';
    font-size : 22px;
    color : #4F290C;
    font-weight : bold;
}

.ai-info{
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 8px;
}


.menunggu-konfirmasi{
    height : 36px;
    font-family: 'Poppins';
    font-size : 12px;
    padding : 5px 17px;
    border-radius: 20px;
    background-color: #496041;
    color : #F0F1E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-order-detail{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 38px;
    border-bottom: 2px solid rgb(79, 41, 12, 0.2);
}

.ai-picture{
    display : flex;
    gap : 20px;
}

.ai-picture-text{
    display : block;
    align-items: center;
    justify-content: flex-start;
}

.ai-picture-text h2, .ai-picture-text p{
    margin : 0;
}

.ai-picture-text h2{
    font-size: 18px;
}


.ai-picture-text p{
    font-size: 15px;
    color : #4F290C;
}

.ai-picture img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border : 1px solid #4F290C;
}

.ai-total{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.ai-total p{
    color : #4F290C;
    font-weight : 600;
}

.ai-total-order{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color : #4F290C;
    gap : 12px;
    padding : 18px 41px;
}

.ai-total-order p{
    color : #4F290C;
    margin : 0;
    font-size : 18px;
    font-weight: 600;
}

.ai-total-order h3{
    font-family: 'Poppins';
    color : #4F290C;
    margin : 0;
    font-size : 20px;
    font-weight : 700;
}

.back-btn{
    position : relative;
    display : flex;
    gap : 19px;
    cursor: pointer;
    font-size: 40px;
    color: #F0F1E4;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    left : -45px;
}

.back-btn:hover{
    color : #D5BE9E;
    text-decoration: none;
  }


  .back-btn p{
    font-weight: bold;
    color: #F0F1E4 !important;
    text-decoration: none;
    margin : 0;
  }

.table-cell{
    border-bottom: 2px #4F290C solid;
    height : 60px;
    font-size : 21px;
}

thead{
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

table , th{
    border-collapse: collapse;
}

td{
    font-size: 14px;
    padding : 20px 0px;
    max-width: 150px;
    font-weight: 200;
    word-wrap: break-word;
    border-bottom: 2px #4f290c31 solid;
}


tr {
    text-align: center;
}


.box-1, .box-2, .box-3{
    width: 275px;
    border-bottom: 5px solid rgb(59, 48, 33);
    color: white;
    padding: 20px 30px;
}


.box-left > p {
    margin: 0;
}

.count {
     font-weight: bold;
     font-size: 24px;
}

.pickup-img {
    background-color: white;
    border-radius: 5em;
    padding: 5px;
    width: 50px;
}

.delivery-img {
    background-color: white;
    border-radius: 5em;
    padding: 10px 5px;
    width: 50px;
}

.done-img {
    background-color: white;
    border-radius: 5em;
    padding: 15px 10px;
    width: 50px;
}

#sortBy {
    padding: 0 10px;
    font-size: 14px;
}

.action-btn-container{
    display: flex;
    gap : 50px;
    justify-content: center;
}

.action-btn{
    width : 30px;
    height : 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5BE9E;
    border : 0;
    margin : 0;
    padding : 10px;
    border-radius: 5px;
}

.dataTables_wrapper select,
    .dataTables_wrapper .dataTables_filter input {
      color: #4a5568;
      /*text-gray-700*/
      padding-left: 1rem;
      /*pl-4*/
      padding-right: 1rem;
      /*pl-4*/
      padding-top: .5rem;
      /*pl-2*/
      padding-bottom: .5rem;
      /*pl-2*/
      line-height: 1.25;
      /*leading-tight*/
      border-width: 2px;
      /*border-2*/
      border-radius: .25rem;
      border-color: #edf2f7;
      /*border-gray-200*/
      background-color: #edf2f7;
      /*bg-gray-200*/
    }

    .dataTables_wrapper select {
      padding-right: 1.5rem;
    }

    /*Row Hover*/
    table.dataTable.hover tbody tr:hover,
    table.dataTable.display tbody tr:hover {
      background-color: #ebf4ff;
      /*bg-indigo-100*/
    }

    /*Pagination Buttons*/
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      font-weight: 700;
      /*font-bold*/
      border-radius: .25rem;
      /*rounded*/
      border: 1px solid transparent;
      /*border border-transparent*/
    }

    /*Pagination Buttons - Current selected */
    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
      color: #fff !important;
      /*text-white*/
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
      /*shadow*/
      font-weight: 700;
      /*font-bold*/
      border-radius: .25rem;
      /*rounded*/
      background: #0C3256 !important;
      /*bg-indigo-500*/
      border: 1px solid transparent;
      /*border border-transparent*/
    }

    /*Pagination Buttons - Hover */
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      color: #fff !important;
      /*text-white*/
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
      /*shadow*/
      font-weight: 700;
      /*font-bold*/
      border-radius: .25rem;
      /*rounded*/
      background: #F0F1E4 !important;
      /*bg-indigo-500*/
      border: 1px solid transparent;
      /*border border-transparent*/
    }

    #dataTable_previous:hover,
    #dataTable_next:hover
    {
      color: #fff !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
      color: white !important;
    }

    /*Add padding to bottom border */
    table.dataTable.no-footer {
      border-bottom: 1px solid #e2e8f0;
      /*border-b-1 border-gray-300*/
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }

    /*Change colour of responsive icon*/
    table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
    table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
      background-color: #008652 !important;
      /*bg-indigo-500*/
    }

    table.dataTable tr th.select-checkbox.selected::after {
      content: "✔";
      margin-top: -11px;
      margin-left: -4px;
      text-align: center;
      text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
    }

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td{
    text-align: center;
}

.crud-btn{
    display : flex;
    justify-content: center;
    gap : 20px;
}

.category-slide-cs{
    background-color: #F0F1E4;
    width : 100%;
    border-radius: 10px;
    text-align: center;
}

.category-slide-cs-menu{
    border-radius: 10px;
    color : #4F290C;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.category-slide-cs-menu:active{
    background-color: #D5BE9E;
    border-radius: 20px;
    color :rgb(59, 48, 33);
}

.del-btn{
    background-color: #872F24;
    color : white;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    width : 30px;
    height : 30px;
    cursor : pointer;
}

.del-btn:hover{
    color : white;
    text-decoration: none;
    outline: none;
}

.add-size-btn{
    background-color: #496041;
    color : white;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    width : 30px;
    height : 30px;
}

.add-size-btn:hover{
    color : white;
    text-decoration: none;
    outline: none;
}

.update-btn{
    background-color: #4F290C;
    color : white;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    width : 30px;
    height : 30px;
}

.update-btn:hover{
    color : white;
    text-decoration: none;
    outline: none;
}

h1{
    margin : 0;
    padding : 0;
}

.back_icon{
    padding-right: 20px;
    width: 36px;
}

.back-arrow{
    display: flex;
    align-items: center;
}

.current{
    background-color: #D5BE9E !important;
}

.current:hover{
    color : white !important;
}

.div.dt-container .dt-paging .dt-paging-button.current{
    color : white !important;
}

div.dt-container .dt-paging .dt-paging-button.current:hover{
    color : #F0F1E4 !important;
}


.dropdown-custom{
    /* slide down transition */
    transition: all 0.3s ease;
}

.add-btn-menu{
    border-radius: 10px;
    color : #4F290C;
    display : flex;
    justify-content: space-around;
}

.add-btn-menu:active{
    background-color: #D5BE9E;
    border-radius: 10px;
    color :rgb(59, 48, 33);
}

.add-fs{
    font-size : 16px;
    /* font-weight: 500; */
}

div.dt-container .dt-paging .dt-paging-button:active{
    background-color: #D5BE9E !important;
    color: white !important;
}


div.dt-container .dt-paging .dt-paging-button:hover{
    background: #4F290C !important;
    color: #F0F1E4 !important;
}

div.dt-processing > div:last-child > div{
    background: #4F290C !important;
}


div.dt-container .dt-paging .dt-paging-button.disabled{
    background : none !important;
}


div.dt-container .dt-paging .dt-paging-button.disabled:hover{
    background : none !important;
}

.disabled:hover{
    background-color: transparent !important;
}
