body{
    background-color: black;
    font-family: Poppins;
}

a{
    text-decoration: none;
}

section{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-title {
    padding: 0px !important;
    display: flex !important;
    /* background-color: pink; */
    /* padding-left: 55px !important; */
    /* padding-bottom: 25px !important; */
    flex-direction: row;
    align-content: center;
    /* justify-content: center; */
    /* opacity: 0.5; */
    margin-left: 49px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: fit-content; */
}

.title img {
    padding-right: 20px;
    width: 36px;
}

 /* .main-content{
    width: auto;
    height : auto;
    background-color: black;
    padding : 50px 80px 50px 80px;
} */

.title h1{
    font-family: Poppins;
    font-weight: 600;
    color: #F0F1E4;
    font-size: 35px;
    text-decoration: none;
}

.order-detail {
    background-color: #F0F1E4;
    width: 1330px;
    display: flex;
    flex-direction: column;
    margin: 20px 105px;
    padding-bottom: 30px;
}

.status-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 3% 0;
}

.status-img img {
    width: 60%;
    /* height: 60%; */
    object-fit: cover;
    margin-bottom: 30px;
}

#batal{
    width: 8.5%;
    /* height: 60%; */
    object-fit: cover;
    margin-bottom: 30px;    
}

.segment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.segment-title{
    letter-spacing: 1px;
    color: #4F290C;
    font-weight: 600;
    margin: 20px 40px 0;
}

.delivery-address p {
    margin: 0 0 0 70px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #4F290C;
    padding-right: 10px;
}

.penerima {
    font-weight: 600;
}

.products {
    margin: 0 40px 20px;
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 30px;
    border-bottom: #D5BE9E solid 2px;
    /* align-items: end; */
}

.product-img {
    width: 90px;
    height: 90px;
    border: #4F290C solid thin;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 93%;
}

.product-name, .product-size, .product-price, .product-qty{
    margin: 0;
    letter-spacing: 1px;
    color: #4F290C;
    font-size: 13px;
}

.product-size-and-quantity {
    display: flex;
    flex-direction: row;
}

.product-size {
    font-weight: 500;
    width: 50%;
}

.product-qty {
    /* text-align: right; */
    font-weight: 500;
    letter-spacing: 1px;
    color: #4F290C;
    /* width: 50%; */
}

.product-price {
    /* margin-top: 25px; */
    /* text-align: right; */
    font-weight: 600;
}



.order-amount {
    padding-top: 0;
}

.amount {
    margin-left: 890px;
    display: flex;
    flex-direction: column;
}

.amount-item {
    display: flex;
    flex-direction: row;
    width: 338px;
    gap: 18px;
    margin: 5px 35px;
}

.last-item {
    margin-bottom: 30px;
}

.amount-item p, .total h3 {
    margin: 0;
    color: #4F290C;
    width: 47%;
    letter-spacing: 1px;
}

.amount-item p {
    font-size: 14px;
}

.amount-item h3 {
    font-size: 20px;
}

.amount-item-name {
    text-align: left;
    font-weight: 300;
}

.amount-item-value {
    text-align: right;
    font-weight: 500;
}

.total {
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 18px;
    padding: 10px 25px 0 35px;
    border-top: #D5BE9E solid 2px;
}

.total .amount-item-name{
    font-weight: 600;
}

.total .amount-item-value{
    font-weight: 700;
    font-size: 24px;
}

.payment-method {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 70px 0 0;
}

.payment-method img {
    width: 24px;
    height: 24px;
    object-fit: cover;

}

.payment-method p {
    margin: 0;
    color: #4F290C;
    letter-spacing: 1px;
    font-size: 18px;
}

.submit {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.btn-wrapper {
    margin: 30px;
    margin-left: 0;
}

.btn-wrapper a{
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #4F290C;
    background-color: #D5BE9E;
    padding: 5px 25px;
    border-radius: 20px;
}

.wrap{
    display: flex;
    flex-direction: column;
    height: 20px;
    align-items: flex-end;
    margin-top: 8px;
    /* justify-content: flex-end; */
}